body {
  height: 100vh;
}

.break-word {
  overflow-wrap: break-word;  
  word-wrap: break-word; 
  word-break: break-word;
}

.fill-all-heigth {
  height: 100vh;
}

.all-center {
  justify-content: center;
  align-items: center;
}

.all-center-column {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gap-1 {
  gap: 1rem;
}

